{% extends 'recruiter/base.html' %}
{% block content %}


<div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-inline" method='post'>{% csrf_token %}
                    <div class="form-group">

                        <div class="input-group">
                            <div class="input-group-addon">Select Filter</div>
                            <select class="form-control"  name="filter_colomn">
                              {% for p in fiterlist %}
                                <option value='{{ p.0 }}' >{{ p.1 }}</option>
                               {% endfor %}
                               
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount1">Location</label>
                        <div class="input-group">
                            <div class="input-group-addon">Enter Key</div>
                            <input type="text" name='key_name' class="form-control"  placeholder="Enter Key" value="{{ query }}">

                        </div>
                    </div>
                    <button type="submit" name='submit' class="btn btn-primary">Search</button>
                </form>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S. No.</th>
                            <th>Name Of Candidate</th>
                            <th>U.G.Cource</th>
                            <th>Current Location</th>
                            <th>Designation</th>
                            <th>CTC</th>
                            <th>Skil</th>
                            <th>Detail</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% if data %}
                        {% for i in data %}

                        <tr>
                            <td>{{ forloop.counter }} </td>
                            <td>{{i.name}}</td>
                            <td>{{i.ug_cource}}</td>
                            <td>{{i.current_location}}</td>
                            <td>{{i.current_designation}}</td>
                            <td>{{i.ctc}}</td>
                            <td>{{i.skill}}</td>
                            <td><a href="{% url 'recruiter:candidate_detail' i.id %}">Detail</a></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                    <center>No data Found</center>
                    {% endif %}
                    </tbody>
                </table>
             
                <form method="post"> {% csrf_token %}
                     <input type="hidden" name="filter_colomn" value="{{filter_colomn}}">
                     <input type="hidden" name="key_name" value="{{ query }}">
                    {% if total_downloads > 9 %} 
                    <p style='color: red'>Today You Have Reached Maximum Download Limit.</p>
                     {% else %}
                      <button name="csv_genrate" class="btn btn-primary btn-sm">CSV</button>
                     {% endif %}
                </form>
               <div class="pagination">
                    <span class="step-links">
                        {% if data.has_previous %}
                        <a href="?page={{ data.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ data.number }} of {{ data.paginator.num_pages }}.
                        </span>

                        {% if data.has_next %}
                        <a href="?page={{ data.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
                
            </div>
        </div>
    </div>

<script>
    $(function(){
        $("select[name='filter_colomn']").val("{{ filter_colomn }}");
    })
</script>

{% endblock %}
