{% extends 'recruiter/base.html' %}
{% block content %}


   
<div class="col-md-12">
       <a href="{% url 'recruiter:home' %}" class="btn btn-default btn-sm">Back</a>
       
</div>

    <div class="col-md-12">
        <div class="panel panel-primary">
             <div class="panel-heading">Candidate Detail</div>
            <div class="panel-body" style="overflow: scroll;height: 450px;">
                <table class='table table-bordered'>    
                    {% for i in data %}
                    <tr>
                        <td>
                            <p>{{i.0 | capfirst}}</p>
                        </td>
                        <td>
                            <p>{{i.1}}</p>
                        </td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}
